---
const { variant } = Astro.props;
---

<button class={`button ${variant}`}>
  <slot />
</button>

<style>
  @layer components {
    .button {
      border-radius: 1.25rem;
      padding: 0.25rem 1rem;
      place-self: center;
      font-family: var(--font-primary);
      font-weight: var(--font-weight-bold);

      &.primary {
        color: var(--primary03-color);
        background: var(--primary01-color);

        &:hover {
          background-color: var(--primary-hover, #ffe5a2);
        }
      }

      &.secondary {
        color: var(--primary03-color);
        background: var(--secondary02-color);

        &:hover {
          background-color: var(--secondary02-color);
          color: var(--primary03-color);
        }
      }

      &.tertiary {
        color: var(--primary03-color);
        background: var(--secondary02-color);
      }
    }
  }
</style>
