---
import HeadingButton from "./HeadingButton.astro";
---

<section class="contact-section">
    <div class="wrapper">
        <div class="contact">
            <HeadingButton title="Experience" variant="primary" />
            <h2 class="contact-title">Contact Us. It's Easy.</h2>
            <p class="contact-description">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
            <dl class="contact-info">
                {
                    [
                        { icon: "call-today.svg", label: "Call Today", value: "+1 800 100 900" },
                        { icon: "monday-friday.svg", label: "Monday To Friday", value: "9AM - 5PM" },
                        { icon: "adress-grey.svg", label: "USA Office", value: "195 Devonshire St Boston, MA 02110" },
                    ].map(({ icon, label, value }) => (
                        <div class="contact-item">
                            <div class="icon-text">
                                <div class="icon-container">
                                    <img src={`src/icons/${icon}`} alt={`${label} Icon`} />
                                </div>
                                <div class="dt-dd-container">
                                    <dt>{label}</dt>
                                    <dd>
                                        <strong>{value}</strong>
                                    </dd>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </dl>
        </div>

        <div class="image-container">
            <div class="large-img">
                <img src="/gallery/home2.jpg" alt="Case Image" />
            </div>
            <div class="small-img">
                <img src="/gallery/home3.jpg" alt="Case Image" />
                <img src="/gallery/home4.jpg" alt="Case Image" />
            </div>
        </div>
    </div>
</section>

<style>
    @layer components {
        .contact-section {
            background: var(--color-secondary1);
            padding: 6rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;

            .wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 4rem;
                max-width: 1200px;
                width: 100%;

                .contact {
                    .contact-title {
                        font-size: var(--font-size-h2);
                        margin-bottom: 1rem;
                    }

                    .contact-description {
                        font-size: var(--font-size-p);
                        margin-bottom: 2rem;
                        max-width: 43ch;
                    }

                    .contact-info {
                        display: grid;
                        gap: 1.5rem;

                        .contact-item {
                            .icon-text {
                                display: flex;
                                align-items: center;
                                gap: 1rem;

                                .icon-container {
                                    width: 2rem;
                                    height: 2rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .dt-dd-container {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }

                .image-container {
                    display: grid;
                    gap: 1.5rem;
                    grid-template-areas: "large-img small-img";
                    align-items: center;

                    .large-img {
                        img {
                            width: 100%;
                            border-radius: 1.5rem;
                        }
                    }

                    .small-img {
                        display: grid;
                        gap: 1.5rem;
                        grid-template-columns: 1fr;
                        img {
                            width: 100%;
                            border-radius: 1.5rem;
                        }
                    }
                }
            }
        }

        // Styling for dl, dt, dd
        dl {
            margin-top: 2rem;
        }

        dt,
        dd {
            margin: 0;
            color: var(--color-primary3);
        }

        // Responsive adjustments
        @media (max-width: 900px) {
            .wrapper {
                grid-template-columns: 1fr;
                gap: 2rem;

                .contact-info {
                    text-align: center;
                }

                .image-container {
                    grid-template-areas:
                        "large-img"
                        "small-img";

                    .small-img {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
</style>
