---
const { title, textColor, backgroundColor, variant } = Astro.props;

// Definerer standardværdi for variant hvis ikke angivet
const buttonVariant = variant || "primary"; // 'primary', 'secondary', 'tertiary'
---

<div class={buttonVariant}>
    {title}
</div>

<style>
    div {
        display: inline-flex;
        height: fit-content;
        width: fit-content;
        padding: 0rem 0.9375rem;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: 1.25rem;
        font-style: normal;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-p);
        letter-spacing: 0.145rem;
        text-transform: uppercase;
    }

    /* Primary (Gul med sort tekst) */
    .primary {
        background-color: var(--primary01-color); /* Gul baggrund */
        color: black;
    }

    /* Secondary (Hvid med sort tekst) */
    .secondary {
        background-color: white;
        color: black;
    }

    /* Tertiary (Grøn med hvid tekst) */
    .tertiary {
        background-color: var(--secondary01-color); /* Grøn baggrund */
        color: white;
    }
</style>
