<section class="newsletter-section">
    <figure class="figure"></figure>
    <img src="public/gallery/pattern.svg" alt="moenster" />
    <form class="newsletter-grid">
        <div class="newsletter-content">
            <h4>Tilmeld dig vores nyhedsbrev!</h4>
            <p>Få de seneste opdateringer, tips og eksklusive tilbud direkte i din indbakke.</p>
        </div>
        <input type="email" name="email" placeholder="Indtast din email her" required />
        <button type="submit">Tilmeld</button>
    </form>
</section>

<style>
    @layer components {
        .newsletter-section {
            background-color: var(--primary03-color); /* Sort baggrund */
            color: var(--secondary02-color); /* Hvid tekst */
            padding: 2rem;
            border-radius: 10px;
            max-width: 800px;
            margin: 2rem auto;
            position: relative;
            overflow: hidden;
        }

        .figure {
            position: absolute;
            bottom: -15rem;
            right: -7rem;
            width: 14.16294rem;
            height: 17.80919rem;
            transform: rotate(135deg);
            flex-shrink: 0;
            border-radius: 1.25rem;
            background: #4eaf4e;
            z-index: 10;
        }

        img {
            position: absolute;
            top: -12rem;
            right: -15.5rem;
            width: 22.59619rem;
            height: 22.59631rem;
            transform: rotate(43.687deg);
            flex-shrink: 0;
            z-index: 8;
        }

        .newsletter-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1rem;
            align-items: center;
        }

        .newsletter-content {
            grid-column: span 3;
        }

        .newsletter-content h4 {
            margin: 0;
            color: var(--secondary02-color); /* Hvid tekst */
        }

        .newsletter-content p {
            margin: 0.5rem 0 0;
        }

        .newsletter-grid input[type="email"] {
            grid-column: span 2;
            padding: 0.8rem;
            border: 1px solid var(--secondary01-color);
            border-radius: 3.375rem;
            background-color: var(--secondary02-color); /* Hvid baggrund */
            color: var(--primary03-color); /* Sort tekst */
        }

        .newsletter-grid button {
            grid-column: span 1;
            padding: 0.8rem 1rem;
            color: var(--primary03-color); /* Sort tekst */
            background-color: var(--primary01-color); /* Gul baggrund */
            border: none;
            border-radius: 3.375rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            z-index: 9;
        }
    }
</style>
