---

---

<section class="what-to-expect">
    <img src="./gallery/whatToExpectPic.svg" alt="WhatToExpectPic" />
    <div class="container">
        <p class="titel">WE'LL WORK WITH YOU</p>
        <h1>What To Expect</h1>
        <p>Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals.</p>
        <ul class="points">
            <li>Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.</li>
            <li>Identify opportunities to optimize processes and implement impactful solutions with measurable results.</li>
        </ul>
    </div>
</section>

<style>
    @layer components {
        .what-to-expect {
            position: relative;
            margin-top: 100px;
            z-index: 1;
        }

        section {
            display: inline-flex;
            align-items: flex-start;
            gap: 5.125rem;
            margin: 5rem 2rem;

            /* Nested container styles */
            .container {
                flex-direction: column;
                max-width: 30.0625rem;
                z-index: 2;
            }

            .titel {
                background-color: var(--primary01-color);
                border-radius: 15px;
                padding: 0rem 0.75rem;
                color: var(--secondary02-color); /* hvid */
                width: auto;
            }

            ul.points {
                display: grid;
                gap: 1rem;
                line-height: 1.5;
                padding: 0;
                margin: 0;
                list-style: none;

                /* Target li elements directly under ul.points */
                li {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 1rem;
                    font-size: 1rem;
                    color: #595566;
                }

                /* Use li:before for custom bullet styling */
                li:before {
                    content: "";
                    width: 1.6rem;
                    height: auto;
                    background: url("/icons/checkmark.svg") 50% 50% / 100% auto no-repeat;
                    background-position: 50%;
                    background-size: 100% auto;
                }
            }

            img {
                border-radius: 25px;
                z-index: 10;
            }
        }

        /* Responsiv justering */
        @media (width<600px) {
            section {
                flex-direction: column;
                margin: 2rem 1rem;
            }
            .container {
                width: 100%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
</style>
